---
import BlogHeader from "@/components/blog-header.astro";
import BlogCard from "@/components/cards/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/fetchers/posts";
import FeaturedBlogCard from "@/components/cards/featured-blog-card.astro";

const posts = await getPosts();
---

<MainLayout title="Blog">
  <section class="container py-10">
    <BlogHeader title="Blog" />

    <div class="grid grid-cols-1 gap-x-6 gap-y-9 md:grid-cols-2 md:gap-y-11 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <FeaturedBlogCard {...posts[0]} />
    </div>
    <hr class="my-11 w-full" />
    <div class="grid grid-cols-1 gap-x-6 gap-y-9 md:grid-cols-2 md:gap-y-11 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      {posts.slice(1).map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</MainLayout>
