---
import BlogHeader from "@/components/BlogHeader.astro";
import BlogCard from "@/components/cards/BlogCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getPostsByTag, getTags } from "@/fetchers/posts";
import { capitalizer } from "@/utils";

export async function getStaticPaths() {
  const tags = await getTags();
  return tags.map(tag => ({
    params: { tag }

  }));
}

const { tag } = Astro.params;

if (!tag) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const posts = await getPostsByTag(tag);
---

<MainLayout title={`${capitalizer(tag)} | Blog`} description={`All posts for ${tag} tag`}>
  <section class="container py-10">
    <BlogHeader title={`Posts by ${tag} tag`} />

    <div
      class="grid grid-cols-1 gap-x-6 gap-y-9 md:grid-cols-2 md:gap-y-11 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      {posts.map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</MainLayout>
