---
import { Image } from "astro:assets";

import computerImage from "@/assets/home-computer.webp";
import MainLayout from "@/layouts/main-layout.astro";

const title = "Matt Furden";
const description = "Matt Furden makes stuff.";
---

<MainLayout title={title} description={description}>
  <div class="flex flex-col flex-grow gap-10 justify-center items-center px-8 mx-auto max-w-screen-xl lg:flex-row underlined align-center min-h-96">
    <div>
      <h1 class="text-5xl md:text-7xl lg:text-6xl xl:text-7xl font-heading">Hi, I'm Matt 👋</h1>
      <p class="pt-4 text-xl">
        Check out the <a href="/blog">blog</a>, <a href="/projects">projects</a>, <a href="http://github.com/zolrath" rel="me" target="_blank">GitHub</a>, or <a href="/about">me</a>.
      </p>
    </div>
    <Image
      src={computerImage}
      alt="Image of a universe inside of a monitor"
      width="550"
      height="466"
    />
    </div>
  </div>
</MainLayout>
