<div>
  <img src="/assets/profile-pic.jpg" alt="Headshot of Matt Furden">
  <p>
    Hi, I'm <strong>Matt</strong>. I'm a software engineer and artist based in the Central Coast of California.
    You can chat with me on <a href="https://discordapp.com/users/54376664171294720" target="_blank">Discord</a>,
    see some of my work on <a href="https://www.github.com/zolrath" target="_blank">GitHub</a>,
    or read more about me <a href="https://www.furd.dev/about" target="_blank">here</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
