---
import { buttonVariants } from "@/components/ui/Button";
import { getCategories } from "@/fetchers/posts";
import { cn } from "@/utils";
import { Icon } from "astro-icon/components";

const categories = await getCategories();

type Props = {
  title: string;
};

const { title } = Astro.props;
const { category } = Astro.params;
---

<h1 class="inline-block text-4xl font-heading">{title}</h1>

<div
  class="flex justify-between items-start my-6 max-md:gap-4"
>
  <span class="flex items-center px-2 max-w-xs h-10 rounded-md border lg:px-3 lg:w-full text-muted-foreground">
    <Icon name="ri:search-line" class="size-5" />
    <span class="hidden ml-2 text-sm lg:flex">Search (coming soon)</span>
  </span>

  {
    categories?.length ? (
      <ul class="flex overflow-auto items-center pb-2 space-x-2 lg:space-x-2.5 snap-x snap-mandatory">
        <li class="flex-shrink-0 snap-start">
          <a
            href={`/blog`}
            class={cn(
              !category ? "select-none" : "",
              buttonVariants({
                variant: !category ? "default" : "outline"
              })
            )}
          >
            All posts
          </a>
        </li>
        {categories.map((item) => (
          <li class="flex-shrink-0 snap-start">
            <a
              href={`/blog/category/${item}`}
              class={cn(
                "capitalize",
                item === category ? "select-none" : "",
                buttonVariants({
                  variant: item === category ? "default" : "outline"
                })
              )}
            >
              {item}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <div />
    )
  }
</div>

<hr class="mb-7" />
