---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { name, description, link } = project.data;
---

<a href={link}>
  <div class="mb-4 dark:bg-zinc-700 rounded-md p-4">
    <h3 transition:name={`${name} title`}>{name}</h3>
    {description}
  </div>
</a>
