---
import type { TocItem } from "src/utils/generateToc";
const { heading } = Astro.props;

---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul>
        {heading.children.map((subheading: TocItem) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
