---
import { getCollection } from "astro:content";
import { ProjectDisplay } from "@/types/project";
import ProjectHero from "@/components/project-hero.astro";
import ProjectListItem from "@/components/project-list-item.astro";
import MainLayout from "@/layouts/main-layout.astro";
import ProjectHeader from "@/components/project-header.astro";

const title = "Projects";
const description = "Personal projects made by Matt Furden.";

let projects = await getCollection("projects", ({ data }) => {
  return data.display !== ProjectDisplay.Hidden;
});

const projectDisplayOrder = [
  ProjectDisplay.Hero,
  ProjectDisplay.List,
];

projects = projects.sort(
  (a, b) =>
   (projectDisplayOrder.indexOf(a.data.display) - projectDisplayOrder.indexOf(b.data.display)) || 
      (b.data.projectStart.valueOf() - a.data.projectStart.valueOf())
);
---

<MainLayout
  title={title}
  description={description}
>
  <section class="container flex flex-col gap-6 py-10 mx-auto max-w-4xl">
    <ProjectHeader title="Personal Projects" />
    {
      projects.map((project, _index) => {
        if (project.data.display == ProjectDisplay.Hero) {
          return <ProjectHero project={project} />;
        }
        if (project.data.display == ProjectDisplay.List) {
          return <ProjectListItem project={project} />;
        }
      })
    }
  </div>
</MainLayout>
