---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Uprooted';
const description = 'About Uprooted';
const permalink = `${Astro.site?.href}projects/uprooted`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="projects">
  <div class="container">
    <h1>Uprooted</h1>
    <figure class="broccoli-image">
      <img class="pixel-image" src="/assets/broccoli-idle.gif" alt="Anthropomorphic broccoli standing idle." width="330" />
      <figcaption>
      Broccoli from <a href="/projects/uprooted">Uprooted</a>
      </figcaption>
    </figure>
    <h3>Stomp your friends into the ground!</h1>
    <p>Uprooted is a local multiplayer versus game. Fight to be the last vegetable standing!</p>
    <h3>Key Features</h1>
    <ul>
      <li>2-8 player local multiplayer.</li>
      <li>A variety of team and free for all modes.</li>
      <li><strong>Grounded:</strong> Try to bury the other team. Pull your friends out of the ground to stay alive!</li>
      <li><strong>Seedling:</strong> First veggie to hold the seed for 30 seconds wins!</li>
      <li><strong>Capture the Seed:</strong> Bring the opponents seed back to your side to win!</li>
      <li><strong>King of the Hill:</strong> Score points while being the only veggie on the hill.</li>
      <li><strong>And more!</strong></li>
      <li>Play as a broccoli, carrot, turnip, and more veggies that you've <strong>always</strong> wanted to be.</li>
      <li>Unlock dozens of unique costumes, all wearable by any character!</li>
      <li>Easy to pick up with deep movement mechanics to master.</li>
    </ul>
  </div>
</BaseLayout>

<style>
  .broccoli-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }
  
  .broccoli-image figcaption {
    text-align: center;
  }

  .pixel-image {
    /* IE, only works on <img> tags */
    -ms-interpolation-mode: nearest-neighbor;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
    margin-bottom: 1.5em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  @media (max-width: 1020px) {
    .broccoli-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
