---
import BaseHead from "@/components/layout/BaseHead.astro";
import TailwindIndicator from "@/components/TailwindIndicator.astro";
import { cn } from "@/utils";

type Props = {
  title: string;
  description?: string;
  current?: string;
  bodyClass?: string;
  image?: string;
};

const { title, description, bodyClass, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <slot />
    <TailwindIndicator />
  </body>
</html>
