---
import { cn } from '@/utils';

type Props = {
  slug: string;
  className: string;
}

const { slug, className } = Astro.props;
---

<span transition:name={`${slug}-draft`} class={cn("absolute py-2 px-6 font-bold select-none text-white bg-red-600 rounded-md", className)}>
  DRAFT
</span>
